:root {
  --font-color: #333;
  --background-color: #eee;
  --link-color: cornflowerblue;
  --primary-light: #7ed56f;
  --input-background-color: #eee;
  --color-black:#000;
}

[data-theme='dark'] {
  --font-color: #918b8b;
  --background-color: #282c34;
  --link-color: lightblue;
  --input-background-color: #919b9b;
  --color-black:#fff;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}
.ant-divider-inner-text,.ant-form label {
   color: var(--font-color);
   
}

a {
  color: var(--link-color);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
